<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./fav-icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./fav-icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./fav-icons/favicon-16x16.png"
    />
    <link rel="manifest" href="./fav-icons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./fav-icons/safari-pinned-tab.svg"
      color="#072ab3"
    />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-TileImage" content="./fav-icons/mstile-144x144.png" />
    <meta name="msapplication-config" content="./fav-icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
</head>
<body>
  <div id="app"></div>
</body>
</html>
