.app-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: unit(@gap, px);
  justify-content: flex-end;
  margin-bottom: unit(@gap / 2, px);

  #dark-mode-switch {
    label {
      margin-bottom: 0;
    }
  }

  #translation-selector {
    text-align: right;
  }
}
