.code-button-line {
  display: flex;
  gap: unit(@gap, px);
}

.code-wrapper {
  @lineHeight: 1.5rem;
  @leftBorderwidth: 0.5rem;
  @borderWidth: 2px;
  @borderRadius: 0.5rem;
  @white: rgb(255, 255, 255);
  @black: rgb(0, 0, 0);

  border-radius: @borderRadius;
  margin-top: unit(@gap, px);
  border: @borderWidth solid rgb(189, 161, 4);
  border-left: @leftBorderwidth solid #1fa06b;
  background: black;
  background: repeating-linear-gradient(
    @white 0,
    @white @lineHeight,
    @black @lineHeight,
    @black @lineHeight * 2
  );
  background-position: 0 unit(@gap / 2, px);
  font-family: 'Inconsolata', 'Consolas', 'Courier', 'Courier New', monospace;

  .source-code {
    border-radius: @borderRadius * 0.75;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding: unit(@gap / 2, px);
    word-wrap: break-word;
    white-space: pre;
    background-color: rgba(0, 0, 0, 0.9);
    color: @pt-app-background-color;
    margin-right: @borderWidth;
    line-height: @lineHeight;
  }
}

#different-lengths {
  position: fixed;
  top: unit(@gap, px);
  right: unit(@gap, px);
  width: unit(@gap, rem);

  .bp3-card {
    display: flex;
    gap: unit(@gap, px);
    align-items: flex-start;
    color: darken(@pt-intent-warning, 10%);
    background-color: lighten(@pt-intent-warning, 54%);
  }
}
