body {
  background-color: @pt-app-background-color;

  #app {
    color: @pt-text-color;
  }

  &.bp3-dark {
    background-color: @pt-dark-app-background-color;

    #app {
      color: @pt-dark-text-color;
    }
  }
}
