.bp3-portal {
  .bp3-dialog {
    .bp3-dialog-body {
      .my-dialog-body {
        margin-bottom: unit(2 * @gap, px);
      }

      .button-line {
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 20%;

        .bp3-button-text {
          width: 100%;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}
