@import '~@blueprintjs/core/lib/less/variables';
@import '~@blueprintjs/core/lib/css/blueprint';
@import '~@blueprintjs/icons/lib/css/blueprint-icons';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@gap: 20;

@keyframes pulse {
  0% {
    filter: grayscale(0) brightness(1);
  }

  100% {
    filter: grayscale(75%) brightness(2);
  }
}

body {
  font-size: 16px;

  h2 {
    margin-top: 40px;
    padding-top: 20px;
    border-top: rgb(150, 150, 150) 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & > span {
      display: block;
      flex: 0 0 auto;

      &.bp3-popover-wrapper {
        display: flex;

        .bp3-popover-target {
          line-height: 0.5;
        }
      }
    }
  }

  #app {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      margin-bottom: 2rem;
    }

    .form-buttons {
      margin-top: unit(2 * @gap, px);

      button {
        width: 150px;
        padding-right: unit(@gap, px);
      }
    }

    @import './app-settings';
    @import './task';
    @import './language-editor';
    @import './code';
    @import './settings';
  }

  @import './dialog';
  @import './overlay';
}

@import './dark-mode';
