.language-section {
  margin-bottom: unit(@gap, px);

  h2 {
    margin-top: 0;
    padding-top: 0;
    border: none;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: unit(@gap, px);

    .language-select-button {
      min-width: 10rem;
      justify-content: space-between;
    }
  }

  #language-editor {
    display: flex;
    gap: unit(@gap, px);
    align-items: flex-start;

    input#language-id-input {
      width: 25rem;
    }

    button {
      margin-top: 1.5rem;
    }
  }
}
