.bp3-portal.load-file .bp3-overlay:not(.bp3-toast-container) {
  display: flex;
  justify-content: center;
  align-items: center;

  .settings-content {
    left: calc(50vw - 200px);
    margin: 10vh 0;
    top: 0;
    min-width: 350px;
    max-width: 600px;
    width: 50vw;
    position: static;

    &.bp3-overlay-appear,
    &.bp3-overlay-enter {
      transform: translateY(-50vh) rotate(-10deg);
    }

    &.bp3-overlay-appear-active,
    &.bp3-overlay-enter-active {
      transform: translateY(0) rotate(0deg);
      transition-delay: 0;
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.54, 1.12, 0.38, 1.11);
    }

    &.bp3-overlay-exit {
      transform: translateY(0) rotate(0deg);
    }

    &.bp3-overlay-exit-active {
      transform: translateY(150vh) rotate(-20deg);
      transition-delay: 0;
      transition-duration: 0.5s;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
    }

    h2 {
      border-top: none;
    }

    @import './upload.less';

    .button-line {
      margin-top: unit(@gap, px);
      display: flex;
      gap: unit(@gap, px);
    }
  }
}

.bp3-popover:not(.bp3-select-popover) {
  max-width: 300px;

  .bp3-popover-content {
    padding: unit(@gap, px);
    font-size: 85%;
  }
}

.bp3-popover-wrapper .bp3-popover-target {
  cursor: pointer;
}
