.task-item {
  .answer-helper-box label {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bp3-collapse-body > .bp3-form-group > label {
    font-weight: 700;
  }

  .bp3-card.bp3-elevation-0 {
    box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);

    &.invalid {
      box-shadow: 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
    }
  }

  .task-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: unit(@gap / 2, px);

    .task-item-buttons {
      display: flex;
      justify-content: flex-start;
      gap: 20px;

      .button-question {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 15rem;
        display: inline-block;
      }
    }

    .bad-task-icon svg {
      animation: pulse 2s infinite alternate;
    }
  }

  .field-group {
    display: flex;
    gap: unit(@gap, px);

    & > div {
      flex: 1 1 auto;
    }
  }

  .bad-answer-item {
    display: flex;
    gap: unit(@gap, px);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: unit(@gap, px);

    > div {
      flex-grow: 1;

      &:nth-child(2) {
        flex-grow: 12;
      }

      &.bp3-popover-wrapper {
        display: flex;
        flex-grow: 0;

        > span {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .bp3-disabled .bp3-form-content {
    filter: grayscale(0.5);
    opacity: 0.5;

    .bp3-input:read-only {
      cursor: not-allowed;
    }
  }
}
