.box-input {
  @baseColor:darken(@pt-intent-success, 20%);

  outline: 2px dashed @baseColor;
  outline-offset: unit(-@gap / 2, px);
  display: flex;
  background-color: lighten(@baseColor, 80%);
  flex-direction: column;
  align-items: center;
  padding: unit(@gap * 2, px);
  color: @baseColor;
  transition: all 250ms;

  &.is-dragover {
    background-color: lighten(@baseColor, 84%);
    outline-offset: unit(-@gap, px);
  }

  .bp3-icon {
    color: @baseColor;
    margin-bottom: unit(@gap / 2, px);
  }

  .bp3-label {
    cursor: pointer;
    color: @baseColor;
  }

  .bp3-form-content {
    text-align: center;
    display: none;
  }

  .error {
    color: @pt-intent-danger;
    margin-bottom: 20px;
  }
}
